[Desktop Entry]
Comment=DDLCMonika
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=DDLCMonika
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Name=DDLCMonika
X-KDE-PluginInfo-Author=therealmodder
X-KDE-PluginInfo-Email=trrrepository@gmail.com
X-KDE-PluginInfo-License=GPLv2+
X-KDE-ServiceTypes=Plasma/LookAndFeel

